
section {
    position: relative;
    background-color: transparent !important;
}

.podval{
	background-color: rgba(235, 237, 240, 0.01)!important;
	padding: 0rem 1rem 1rem 1rem;
}

.navbar-light .navbar-brand{
	/*color: #578ad6;*/
	color: rgba(87,138,214, 1);
	font-weight: 600;
	opacity: .85;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: rgba(87,138,214, 1);
	opacity: 1;
}

section .img {
    position: absolute;
    left:0; top:0;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    opacity: 0.3;
    background-image: url(dia_main_image1.jpg);
    z-index: -1;
}

.add-base_led{
	margin-bottom: 2rem;
}

.help{
	margin-top: 2rem;
}

section .jumbotron{
	background-color: transparent;
	margin-bottom: 1rem;
	opacity: 0.7;
}

.podval_text{
font-size: small;
font-weight: 100;
}

.minus_mb{
	margin-bottom: 0.3rem!important;
}

.skruglenie{
	border-radius: 30px;
}

.trikolonki{
	opacity: 0.7;
}

label{
	opacity: 0.7;
}

.text_opacity{
	opacity: 0.7;
}

.trikolonki_text{
font-weight: 100;
font-size: small;
}

.greating{
	font-weight: 200;
}

.podval_nav{
flex-direction: row;
}

.bg-light{
	background-color: rgba(235, 237, 240, 0.01)!important;
}
/*
.invalid-tooltip{

}*/